@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mouse+Memoirs&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*GLOBAL*/
/*
h2{
 @apply text-2xl md:text-3xl xl:text-4xl font-text 
}
*/
/*CUSTOM CLASS*/
.box-shadow{
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.button-hover{
  @apply hover:animate-shake hover:border-dashed duration-300
}

.wrapper{
  @apply flex flex-col lg:flex-row max-w-screen-2xl h-full mx-auto px-6 sm:px-12 md:px-24 lg:px-12 2xl:px-24
}

.section{
  @apply relative flex flex-col 
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 15px; /* szerokość paska przewijania */
  
  }
  
  ::-webkit-scrollbar-track {
	@apply bg-white; 
  }
  
  ::-webkit-scrollbar-thumb {
	@apply bg-bgDark-400 transition-colors; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	@apply bg-bgDark-200  transition-colors
  }



/*  
WRAPPER HEADER: flex flex-col lg:flex-row max-w-screen-2xl h-full mx-auto px-6 sm:px-12 md:px-24 lg:px-12 2xl:px-24
WRAPPER SERVICES:flex flex-col lg:flex-row max-w-screen-2xl h-full mx-auto px-6 sm:px-12 md:px-24 lg:px-12 2xl:px-24 gap-12 2xl:gap-24 py-16 lg:py-24 */
        